<% layout('layout') -%>


<!---Image Slider--->

<div id="slides" class="carousel slide" data-ride="carousel">
    <ul class="carousel-indicators">
        <li data-target="#slides" data-slide-to="0" class="active"></li>
        <li data-target="#slides" data-slide-to="1"></li>
        <li data-target="#slides" data-slide-to="2"></li>
    </ul>
    <div class="carousel-inner">

        <div class="carousel-item active">
                <img src="https://images8.alphacoders.com/411/411522.jpg">
        </div>

        <div class="carousel-item">
                <img src="https://images8.alphacoders.com/424/424848.jpg">
        </div>

        <div class="carousel-item">
                <img src="https://images2.alphacoders.com/261/26102.jpg">
        </div>

    </div>
</div>


<!--Jumbotron--->
<div class="container fluid-padding">
    <div class ="row welcome text-center">
        <div class="col-12">
            <h1 class="display-4">Built for you.</h1>
        </div>
        <hr>
        <div class="col-12">
          <p class="card-text">  Welcome to our webpage ! We are happy that you have chosen us . Go ahead millions of books are waiting for you. :)</p>
        </div>
    </div>
</div>