<% layout('layout') -%>

<div class="container-fluid" style="width: 400px;">
    
    <form style="text-align: center;">

        <div class="form-group">
            <label for="exampleInputEmail1">Email address</label>
            <input disabled type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
        </div>

        <div class="form-group">
            <label for="exampleInputFirstName">First Name</label>
            <input type="text" class="form-control">
        </div>

        <div class="form-group">
            <label for="exampleInputLastName">Last Name</label>
            <input type="text" class="form-control">
        </div>

        <div class="form-group">
            <label for="exampleInputPassword1">Password</label>
            <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
        </div>

        <div class="form-group">
            <label for="exampleInputPassword1">Password Again</label>
            <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
        </div>

        <div class="form-group">
            
        </div>

        <button type="save">Save</button>
    </form>
</div>