
<% layout('layout') -%>

<div class="container fluid" style="text-align: center;margin-top:2%">
<form method="post" style="border:1px solid #ccc">
    <div class="container ">
     
  
      <label for="email"><b>Email</b></label>
      <input class="form-control" type="text" placeholder="Enter Email" name="email" required>
  
      <label for="psw"><b>Password</b></label>
      <input class="form-control" type="password" placeholder="Enter Password" name="psw" required>
  
      <label for="psw-repeat"><b>Repeat Password</b></label>
      <input class="form-control" type="password" placeholder="Repeat Password" name="psw-repeat" required>
  
     
     <button type="submit" class="btn btn-secondary" class="signupbtn "style="margin-top-bottom:1%;">Sign Up</button>
      
    </div>
</div>
  </form>


